<style>
    .Contact {
        background-color: white;
        color: black !important;
    }

        .Contact:hover {
            background-color: white !important;
            color: #888 !important;
        }
</style>

<div class="row">
    <div class="SentMessageBox col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2">

        <p class="SentMessageHeader">Thanks!</p>
        <p class="SentMessageBody">Your message has been received.</p>
        <p class="SentMessageSubBody">(I'll try to respond within 48 hours)</p>

    </div>
</div>